body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column{
    height: 60px;
    width: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.row{
    display: flex;
}
